html {
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}

#container {
    height: 490px;
    width: 400px;
    background-color: #9dd2ea;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px -4px 0px #009de4;
    position: relative;
}

#score {
    background-color: #f1ff92;
    color: #888e5f;
    padding: 10px;
    position: absolute;
    left: 350px;
    box-shadow: 0px 4px #9da853;
}

#correct {
    left: 180px;
    background-color: #42e252;
    color: white;
    padding: 10px;
    display: none;
}

#wrong {
    position: absolute;
    left: 180px;
    background-color: #de401a;
    color: white;
    padding: 10px;
    display: none;
}

#question {
    width: 400px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: #9da0ea;
    box-shadow: 0px 4px #535aa8;
    font-size: 100px;
    text-align: center;
    font-family: arial, sans-serif;
}

#instruction {
    width: 400px;
    height: 50px;
    background-color: #848109;
    margin:10px auto;
    position: absolute;
    text-align: center;
    line-height: 50px;
    box-shadow:  0px 4px #8153a8;
}

#choices {
    height: 50px;
    width: 450px;
    margin: 100px auto;
}

.box {
    width: 85px;
    height:85px;
    background-color: white;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 80px;
}

.box:hover, #startreset:hover {
    background-color: #8153a8;
    color: white;
    box-shadow: 0px 4px #6b56;
}

#startreset {
    width: 85px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
}

#timeremaining {
    width: 150px;
    padding: 10px 0px 10px 0px;
    position: absolute;
    top: 469px;
    left: 280px;
    background-color: rgba(181, 235, 36, 0.8);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    /*visibility: hidden;*/
    display: none;
}

#gameover {
    height: 200px;
    width: 500px;
    background: linear-gradient(rgb(238, 174, 26), rgb(218, 9, 9));
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: -30px;
    z-index: 2;
    display: none;

}